

.nav-header {
    width: 375px;
    height: 44px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(261deg, #bfe57b, #8acd6e);
    box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.25);
}



.nav-header__content {

 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 

}

.nav-header__title {

    
    width: 109px;
    height: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 132px;
    top: 9px;



}


.nav-header-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    position: absolute;
    left: 16px;
    top: 10px;
}
